In [51]:
import os
import numpy as np
import pandas as pd
import seaborn as sns
import pprint
import matplotlib.pyplot as plt
import yaml
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

from IPython.display import Markdown, display

# utility function to print markdown string
def printmd(string):
    display(Markdown(string))

def read_params(config_path):
    with open(config_path) as yaml_file:
        config = yaml.safe_load(yaml_file)
    return config

def main(config_path, datasource):
    config = read_params(config_path)
    print(config)

In [52]:
default_config_path = os.path.join('..',"config", 'params.yaml')

default_config_path

'../config/params.yaml'

In [53]:
config = read_params(default_config_path)

In [54]:
config['data_preparation']['train_data_path']

'data/raw/train/train.csv'

In [55]:
df = pd.read_csv(os.path.join('..',config['data_preparation']['train_data_path']))

In [56]:
df.head()

,sid,sid_type,first_coop_code,first_dist_code,first_hs_code,first_dist_name,first_hs_name,first_hs_alt,first_hs_urbanicity,chrt_ninth,...,ihe_retention_lt_4_yr_part_time,ihe_federal_loan_rate,ihe_share_25_older,ihe_med_debt_completers_all,ihe_med_debt_completers_pmts,ihe_ihe_repay_3_yr_all,ihe_rate_4_yr,ihe_rate_lt_4_yr,ihe_med_earn_10_yrs_after,ihe_pct_earn_gt_25k_6_yrs_after
0,83596,Fake record,GRREC,169,1514,Falcon,Falcon,0,Rural: Distant,2009,...,0.4522,0.2661,0.3929,9740.0,108.13397,0.556974,NaN,0.398137,25000.0,0.441690
1,28878,Fake record,OVEC,217,2770,Stadium,Watercress,0,Rural: Fringe,2009,...,NaN,0.4597,0.0824,20500.0,227.59203,0.832144,0.604257,NaN,41500.0,0.681255
2,41365,Fake record,KVEC,589,8428,Barton,Independence,0,Rural: Remote,2009,...,0.4203,0.2813,0.4498,12654.0,140.48534,0.423154,NaN,0.210462,23000.0,0.396902
3,88573,Fake record,CKEC,262,3820,Oceanview,Burton,0,City: Large,2009,...,NaN,0.5420,0.1831,23275.0,258.40021,0.777563,0.392686,NaN,35500.0,0.584031
4,67264,Fake record,CKEC,262,3830,Oceanview,Graham,0,City: Large,2009,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
dim = df.shape
printmd(f"Dataset Dimension: **{df.shape[0]}** rows,  **{df.shape[1]}** columns")

Dataset Dimension: **42353** rows,  **68** columns

In [58]:
df.dtypes

sid                                  int64
sid_type                            object
first_coop_code                     object
first_dist_code                      int64
first_hs_code                        int64
                                    ...
ihe_ihe_repay_3_yr_all             float64
ihe_rate_4_yr                      float64
ihe_rate_lt_4_yr                   float64
ihe_med_earn_10_yrs_after          float64
ihe_pct_earn_gt_25k_6_yrs_after    float64
Length: 68, dtype: object

In [59]:
df.isna().sum()

sid                                    0
sid_type                               0
first_coop_code                        0
first_dist_code                        0
first_hs_code                          0
                                   ...
ihe_ihe_repay_3_yr_all             25455
ihe_rate_4_yr                      31503
ihe_rate_lt_4_yr                   36305
ihe_med_earn_10_yrs_after          25455
ihe_pct_earn_gt_25k_6_yrs_after    25455
Length: 68, dtype: int64

In [60]:
df.loc[1000] = df.loc[1].copy()

def find_duplicates(data):
    total_obs = len(data.index)
    uniq_obs = len(data.drop_duplicates())
    dups = total_obs - uniq_obs
    if total_obs == uniq_obs:
        printmd("**No duplicates Found!**")
        printmd(f'Total Obs:  **{total_obs}**')
        printmd(f'Unique Obs:  **{uniq_obs}**')
    else:
        printmd(f'**Duplicates Found:**  **{dups}**')
        dups_list = data.loc[data.duplicated(keep = False)]
        return dups_list
        

a = find_duplicates(df)

**Duplicates Found:**  **1**

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42353 entries, 0 to 42352
Data columns (total 68 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   sid                              42353 non-null  int64
 1   sid_type                         42353 non-null  object
 2   first_coop_code                  42353 non-null  object
 3   first_dist_code                  42353 non-null  int64
 4   first_hs_code                    42353 non-null  int64
 5   first_dist_name                  42353 non-null  object
 6   first_hs_name                    42353 non-null  object
 7   first_hs_alt                     42353 non-null  int64
 8   first_hs_urbanicity              41977 non-null  object
 9   chrt_ninth                       42353 non-null  int64
 10  male                             42345 non-null  float64
 11  race_ethnicity                   41822 non-null  object
 12  frpl                             41796 non-null  float64
 13  iep                              42353 non-null  int64
 14  ell                              42353 non-null  int64
 15  gifted                           42353 non-null  int64
 16  ever_alternative                 42353 non-null  int64
 17  scale_score_6_math               0 non-null      float64
 18  scale_score_6_read               0 non-null      float64
 19  math_ss                          35135 non-null  float64
 20  read_ss                          35120 non-null  float64
 21  pct_days_absent                  42283 non-null  float64
 22  pct_excused_11                   42280 non-null  float64
 23  gpa                              41389 non-null  float64
 24  scale_score_11_eng               34435 non-null  float64
 25  scale_score_11_math              34428 non-null  float64
 26  scale_score_11_read              34413 non-null  float64
 27  scale_score_11_comp              34406 non-null  float64
 28  collegeready_ever_in_hs          42353 non-null  int64
 29  careerready_ever_in_hs           42353 non-null  int64
 30  ap_ever_take_class               42353 non-null  int64
 31  last_acadyr_observed             42353 non-null  int64
 32  transferout                      42353 non-null  int64
 33  dropout                          42353 non-null  int64
 34  still_enrolled                   42353 non-null  int64
 35  ontime_grad                      42353 non-null  int64
 36  chrt_grad                        34364 non-null  float64
 37  hs_diploma                       42353 non-null  int64
 38  enroll_yr1_any                   42353 non-null  int64
 39  enroll_yr1_2yr                   42353 non-null  int64
 40  enroll_yr1_4yr                   42353 non-null  int64
 41  enroll_yr2_any                   34364 non-null  float64
 42  ihe_code_yr1                     17952 non-null  float64
 43  ihe_name_yr1                     17952 non-null  object
 44  ihe_barrons_rank_2013            10569 non-null  object
 45  ihe_degrees_awarded_predominant  16899 non-null  object
 46  ihe_degrees_awarded_highest      16899 non-null  object
 47  ihe_act_25th_pctl_cumulative     10370 non-null  float64
 48  ihe_act_75th_pctl_cumulative     10370 non-null  float64
 49  ihe_act_midpoint_cumulative      10370 non-null  float64
 50  ihe_ihe_size                     16899 non-null  float64
 51  ihe_part_time_share              16899 non-null  float64
 52  ihe_avg_net_price_pub            14558 non-null  float64
 53  ihe_avg_net_price_priv           2341 non-null   float64
 54  ihe_pell_grant_rate              16899 non-null  float64
 55  ihe_retention_4_yr_full_time     10744 non-null  float64
 56  ihe_retention_lt_4_yr_full_time  6048 non-null   float64
 57  ihe_retention_4_yr_part_time     9708 non-null   float64
 58  ihe_retention_lt_4_yr_part_time  5968 non-null   float64
 59  ihe_federal_loan_rate            16899 non-null  float64
 60  ihe_share_25_older               16899 non-null  float64
 61  ihe_med_debt_completers_all      16764 non-null  float64
 62  ihe_med_debt_completers_pmts     16764 non-null  float64
 63  ihe_ihe_repay_3_yr_all           16899 non-null  float64
 64  ihe_rate_4_yr                    10851 non-null  float64
 65  ihe_rate_lt_4_yr                 6048 non-null   float64
 66  ihe_med_earn_10_yrs_after        16899 non-null  float64
 67  ihe_pct_earn_gt_25k_6_yrs_after  16899 non-null  float64
dtypes: float64(37), int64(21), object(10)
memory usage: 22.0+ MB

In [62]:
printmd("**Unique Values for each feature in the data set**")
df.nunique().T

**Unique Values for each feature in the data set**

sid                                42352
sid_type                               1
first_coop_code                        9
first_dist_code                      171
first_hs_code                        389
                                   ...
ihe_ihe_repay_3_yr_all                60
ihe_rate_4_yr                         41
ihe_rate_lt_4_yr                      20
ihe_med_earn_10_yrs_after             54
ihe_pct_earn_gt_25k_6_yrs_after       60
Length: 68, dtype: int64

In [63]:
df.describe(include = ['object']).T

,count,unique,top,freq
sid_type,42353,1,Fake record,42353
first_coop_code,42353,9,GRREC,7403
first_dist_name,42353,171,Snowy Hill,6533
first_hs_name,42353,389,Sylvan,560
first_hs_urbanicity,41977,11,Rural: Fringe,9286
race_ethnicity,41822,5,White,33904
ihe_name_yr1,17952,63,Cardinal University,1768
ihe_barrons_rank_2013,10569,6,Competitive,5094
ihe_degrees_awarded_predominant,16899,3,Predominantly bachelor's-degree granting,10668
ihe_degrees_awarded_highest,16899,3,Graduate degree,10408

In [64]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
sid,42353.0,55731.661606,32336.762139,5.000000,27702.000000,55651.000000,83620.000000,111990.000000
first_dist_code,42353.0,379.983874,163.513783,103.000000,238.000000,388.000000,538.000000,613.000000
first_hs_code,42353.0,5259.449484,2785.588361,1106.000000,2850.000000,5294.000000,7492.000000,9902.000000
first_hs_alt,42353.0,0.053408,0.224849,0.000000,0.000000,0.000000,0.000000,1.000000
chrt_ninth,42353.0,2009.000000,0.000000,2009.000000,2009.000000,2009.000000,2009.000000,2009.000000
male,42345.0,0.519636,0.499620,0.000000,0.000000,1.000000,1.000000,1.000000
frpl,41796.0,0.604149,0.489039,0.000000,0.000000,1.000000,1.000000,1.000000
iep,42353.0,0.112247,0.315674,0.000000,0.000000,0.000000,0.000000,1.000000
ell,42353.0,0.015701,0.124319,0.000000,0.000000,0.000000,0.000000,1.000000
gifted,42353.0,0.190022,0.392323,0.000000,0.000000,0.000000,0.000000,1.000000
ever_alternative,42353.0,0.274644,0.446340,0.000000,0.000000,0.000000,1.000000,1.000000
scale_score_6_math,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
scale_score_6_read,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
math_ss,35135.0,41.380048,21.411786,0.000000,26.000000,42.000000,57.000000,183.000000
read_ss,35120.0,47.478132,16.391190,0.000000,37.000000,47.000000,58.000000,177.000000
pct_days_absent,42283.0,8.441384,17.603141,0.000000,3.184286,6.077777,10.794030,3153.000000
pct_excused_11,42280.0,4.299162,5.345442,0.000000,1.664754,3.300574,5.595402,508.200010
gpa,41389.0,2.629686,0.852856,0.000000,2.041120,2.693500,3.306350,4.000000
scale_score_11_eng,34435.0,18.674140,6.491090,2.000000,14.000000,18.000000,23.000000,36.000000
scale_score_11_math,34428.0,18.988992,4.642201,4.000000,16.000000,17.000000,22.000000,36.000000
scale_score_11_read,34413.0,19.781536,5.803826,2.000000,15.000000,19.000000,24.000000,36.000000
scale_score_11_comp,34406.0,19.218160,4.951039,8.000000,15.000000,19.000000,22.000000,36.000000
collegeready_ever_in_hs,42353.0,0.002456,0.049493,0.000000,0.000000,0.000000,0.000000,1.000000
careerready_ever_in_hs,42353.0,0.000331,0.018178,0.000000,0.000000,0.000000,0.000000,1.000000
ap_ever_take_class,42353.0,0.212665,0.409197,0.000000,0.000000,0.000000,0.000000,1.000000
last_acadyr_observed,42353.0,2011.797039,0.729061,2009.000000,2012.000000,2012.000000,2012.000000,2014.000000
transferout,42353.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
dropout,42353.0,0.187307,0.390162,0.000000,0.000000,0.000000,0.000000,1.000000
still_enrolled,42353.0,0.001299,0.036013,0.000000,0.000000,0.000000,0.000000,1.000000
ontime_grad,42353.0,0.790546,0.406924,0.000000,1.000000,1.000000,1.000000,1.000000
chrt_grad,34364.0,2012.010010,0.236903,2010.000000,2012.000000,2012.000000,2012.000000,2015.000000
hs_diploma,42353.0,0.811206,0.391350,0.000000,1.000000,1.000000,1.000000,1.000000
enroll_yr1_any,42353.0,0.423866,0.494175,0.000000,0.000000,0.000000,1.000000,1.000000
enroll_yr1_2yr,42353.0,0.149340,0.356428,0.000000,0.000000,0.000000,0.000000,1.000000
enroll_yr1_4yr,42353.0,0.278823,0.448426,0.000000,0.000000,0.000000,1.000000,1.000000
enroll_yr2_any,34364.0,0.433593,0.495578,0.000000,0.000000,0.000000,1.000000,1.000000
ihe_code_yr1,17952.0,132.604278,17.531141,101.000000,119.000000,131.000000,145.000000,167.000000
ihe_act_25th_pctl_cumulative,10370.0,19.879364,1.903144,16.000000,19.000000,19.000000,22.000000,32.000000
ihe_act_75th_pctl_cumulative,10370.0,25.808679,1.864604,20.000000,25.000000,25.000000,28.000000,34.000000
ihe_act_midpoint_cumulative,10370.0,23.015718,1.779331,18.000000,22.000000,22.000000,25.000000,33.000000
ihe_ihe_size,16899.0,9697.176460,6413.139710,156.000000,3283.000000,10467.000000,15023.000000,28692.000000
ihe_part_time_share,16899.0,0.248066,0.177725,0.000700,0.114600,0.173000,0.431400,0.617100
ihe_avg_net_price_pub,14558.0,9584.028301,3191.874497,3482.000000,6662.000000,9600.000000,10496.000000,21681.000000
ihe_avg_net_price_priv,2341.0,17177.850064,5214.275372,1776.000000,15084.000000,17011.000000,20488.000000,29297.000000
ihe_pell_grant_rate,16899.0,0.403922,0.106997,0.117500,0.336800,0.393400,0.463800,0.864500
ihe_retention_4_yr_full_time,10744.0,0.726708,0.084617,0.000000,0.691600,0.717800,0.778800,0.973200
ihe_retention_lt_4_yr_full_time,6048.0,0.560756,0.063268,0.366700,0.524700,0.557300,0.613800,0.659600
ihe_retention_4_yr_part_time,9708.0,0.388099,0.131920,0.000000,0.370400,0.438600,0.461500,1.000000
ihe_retention_lt_4_yr_part_time,5968.0,0.385039,0.057327,0.310300,0.328300,0.380100,0.431900,0.697000
ihe_federal_loan_rate,16899.0,0.472573,0.131234,0.044100,0.383100,0.459700,0.541300,0.907100
ihe_share_25_older,16899.0,0.277582,0.152330,0.000700,0.172800,0.238300,0.438000,0.735600
ihe_med_debt_completers_all,16764.0,19353.596188,5192.600966,5750.000000,14642.500000,20500.000000,24093.000000,34942.000000
ihe_med_debt_completers_pmts,16764.0,214.864593,57.648516,63.836788,162.561770,227.592030,267.481690,387.927830
ihe_ihe_repay_3_yr_all,16899.0,0.642822,0.149462,0.261312,0.466288,0.663946,0.778180,0.950102
ihe_rate_4_yr,10851.0,0.472988,0.112421,0.159809,0.377848,0.432884,0.536840,0.923592
ihe_rate_lt_4_yr,6048.0,0.313375,0.099501,0.170209,0.251012,0.293832,0.398137,0.623265
ihe_med_earn_10_yrs_after,16899.0,32060.370436,6326.061284,20600.000000,26300.000000,33100.000000,36100.000000,60900.000000
ihe_pct_earn_gt_25k_6_yrs_after,16899.0,0.529668,0.096209,0.309300,0.449474,0.541185,0.593796,0.793860

In [65]:
categorical = df.select_dtypes('object')
for c in categorical:
    print(f'Categories in {c} variable:     ')
    print(df[c].unique())

Categories in sid_type variable:
['Fake record']
Categories in first_coop_code variable:
['GRREC' 'OVEC' 'KVEC' 'CKEC' 'SESC' 'Jeffco' 'WKEC' 'NKCES' 'KEDC']
Categories in first_dist_name variable:
['Falcon' 'Stadium' 'Barton' 'Oceanview' 'Herald Square' 'Sandpiper'
 'Floyd' 'Williams' 'Horan' 'Orozco' 'Snowy Hill' 'Englewood' 'Marino'
 'Providence' 'New Beacon' 'Jackson' 'Foster' 'Oriole' 'Highland'
 'Halcyon' 'Brookfield' 'Sage' 'Wrigley' 'Garner' 'Astro' 'Plessy' 'Felix'
 'Quigley' 'Marsden' 'Hyde' 'Birdseye' 'Adolphus' 'Sterling' 'Orange'
 'Aristides' 'Majestic' 'Zirvas' 'Stony Brae' 'Isaac Newton' 'Nobscot'
 'Common Way' 'Village' 'Lark Valley' 'Goodacre' 'Baker' 'Labyrinth'
 'McAfee' 'Midlands' 'Countryside' 'Elmwood' 'Wilson' 'Oak Tree' 'Xavier'
 'Athelstane' 'Franklin' 'Houghton' 'Jubilee' 'Sabre' 'Astoria' 'Arbor'
 'Heatherland' 'Reed' 'Charles' 'Coleman' 'Columbia' 'Kingfisher'
 'Thunder Gulch' 'Marshall' 'North Star' 'Clayton' 'Lang' 'Wayland'
 'Hercules' 'Hobart' 'Shady Lane' 'Caspian' 'Smith Hall' 'New Wayland'
 'Alliance' 'Simms' 'Copernicus' 'Holly' 'Spaulding' 'Webster'
 'Eastbridge' 'Washington' 'Lower Falls' 'Sutherland' 'Ponderosa' 'Norton'
 'Sheffield' 'Otter Creek' 'Riverview' 'Lindsey' 'Heartland' 'Paisley'
 'Calvin Lee' 'Cilian' 'Walker' 'Prairie' 'Mason' 'Roberts' 'Paul Jones'
 'Fletcher' 'Progress' 'Morris' 'Reigh Count' 'Homer' 'Clarion' 'Perkins'
 'Carver Lane' 'Cathedral' 'Kite Way' 'Silver Oak' 'Blue Hills' 'Whitney'
 'Chateau' 'Universal' 'Alexander' 'Gateway' 'Beacon' 'Bishop' 'Mission'
 'Tupelo' 'Pierce' 'Edison' 'Wallaby' 'Culver' 'Daisy Hill' 'Everett'
 'Chickamee' 'Milton North' 'Westerley' 'North Plains' 'Dickens' 'Seaside'
 'Lockland' 'Phoenix' 'Maverick' 'Lafayette' 'Blanchard' 'Duvall' 'Pippin'
 'Honeypot' 'Ascendance' 'Ashmont' 'Destiny' 'Diamond Lake' 'Marlowe'
 'Summerfield' 'Shetland' 'Lookout Point' 'Copper Cove' 'Dalton' 'Leeds'
 'Mount Lyon' 'Cabot' 'Suarez' 'Spinelli' 'Liberty' 'Beckham' 'Rhodes'
 'Camino' 'Fillmore' 'Laurel' 'Spring Port' 'Unity' 'Briarfield' 'Sunset'
 'Cicero' 'Chelsea']
Categories in first_hs_name variable:
['Falcon' 'Watercress' 'Independence' 'Burton' 'Graham' 'Verndale'
 'Redwood' 'Floyd' 'Gilbert' 'Horan' 'Perez' 'Sylvan' 'Canyon' 'Lowell'
 'Monarch' 'Sargent' 'Laughlin' 'Davidson' 'Vision' 'New Beacon' 'Jackson'
 'Josephine' 'Henderson' 'Oriole' 'Highland' 'Little Valley' 'Brookfield'
 'Sage' 'East Harley' 'Juneberry' 'Juniper Hill' 'Gallant' 'Astro' 'Fawzi'
 'Wellington' 'Cedar' 'Speedwell' 'Marsden' 'Hoffman' 'Hyde' 'Red Hills'
 'Friendship' 'Mandalay' 'Sterling' 'Pinkney' 'Frederick' 'Aristides'
 'Majestic' 'Northbridge' 'Kent' 'Shortleaf' 'Ridge Park' 'Santiago'
 'Nobscot' 'Common Way' 'Simpson' 'Tremont' 'Kendrick' 'Baker' 'Labyrinth'
 'Hummingbird' 'Midlands' 'Clivedale' 'Sandy Beach' 'Eliot' 'Spellman'
 'Corcoran' 'Wilson' 'Oak Tree' 'Humphrey' 'Murphy' 'Heron' 'Success'
 'Franklin' 'Hazel' 'Allen' 'Jubilee' 'Lindgren' 'Sierra Lane' 'Arbor'
 'Capital City' 'Hillside' 'Maple' 'Coleman' 'Columbia' 'Alewife'
 'Freedman' 'Kingfisher' 'Whitebridge' 'Clearview' 'Robin' 'Dogwood'
 'Marshall' 'North Star' 'Sea Glass' 'Venice' 'Lang' 'Cypress' 'Weeks'
 'Walnut' 'Roosevelt' 'Meadow' 'Memorial' 'Bootes' 'Esperanza' 'Miller'
 'Martin' 'Moseley' 'Alliance' 'Neptune' 'Longleaf' 'Percival' 'Rainbow'
 'Harmony' 'Harrison' 'Commander' 'Pressley' 'Holly' 'Park' 'Alonzo'
 'Eastbridge' 'Anderson' 'Lower Falls' 'Bilford' 'Forest Heights'
 'Ponderosa' 'Chestnut' 'Sugarplum' 'Polaris' 'Barclay' 'Lindsey' 'Albert'
 'Paisley' 'Calvin Lee' 'Sequoia' 'Cilian' 'Ferdinand' 'Walker' 'Prairie'
 'Magnolia' 'Yawkey' 'Forbes' 'Valley Way' 'Lewis' 'Englander' 'Acacia'
 'Morris' 'George' 'Reigh Count' 'Homer' 'Clarion' 'Brennan' 'Bloomfield'
 'Cathedral' 'Truman' 'Crossroads' 'Chiswick' 'Silver Oak' 'Clark'
 'Mulberry' 'Blue Hills' 'Eureka' 'Chateau' 'Jupiter' 'Adams' 'Hanover'
 'Cold Springs' 'Hawthorne' 'Gateway' 'Kirkland' 'Crane' 'Sullivan'
 'Buchanan' 'Basswood' 'Triumph' 'Southbridge' 'Tupelo' 'Woodland'
 'Edison' 'Wallaby' 'Pike' 'Reyes' 'Duncan' 'Culver' 'Daisy Hill'
 'Rosebud' 'Peabody' 'Tesla' 'Deer Corner' 'Monroe' 'Everett' 'Galaxy'
 'Chickamee' 'Waldron' 'Fraser' 'Milton North' 'Westerley' 'Hunt Circle'
 'Kennedy' 'Finnley' 'Dickens' 'Seaside' 'Lockland' 'Sorrel Ridge'
 'Phoenix' 'Woodpecker' 'Maverick' 'Lafayette' 'Blanchard' 'Wakeland'
 'Hathaway' 'Duvall' 'Hunnewell' 'Honeypot' 'Hampshire' 'Poplar' 'Ashmont'
 'Ace Hall' 'Gibson' 'Eleanor' 'Lakeshore' 'Diamond Lake' 'Marlowe'
 'Marvel' 'Hawking' 'Marshfield' 'Lookout Point' 'Pharaoh' 'Selwyn'
 'Copper Cove' 'Shirley' 'Dalton' 'Leeds' 'Hamilton' 'Doyle' 'Chisholm'
 'Mount Lyon' 'Hadley' 'Ritchie' 'Haskin' 'Cabot' 'Elk Grove' 'Suarez'
 'Spinelli' 'Carmen' 'Austen' 'Liberty' 'Yellow Creek' 'Sparrow'
 'Stone Street' 'Upper Falls' 'Owen' 'Eagle' 'Apollo' 'Turcotte' 'Beckham'
 'MacDonald' 'Winthrop' 'Sycamore' 'Starlight' 'West Harley' 'Chan'
 'Rhodes' 'Camino' 'Fillmore' 'Rosa Parks' 'Laurel' 'Central'
 'Spring Port' 'Lincoln' 'Unity' 'Horace Mann' 'Elizabeth' 'Briarfield'
 'Sunset' 'Bennett' 'Old Steeple' 'Knightwood' 'Kumar' 'Rockford' 'Finch'
 'Topshire' 'London Lane' 'Shuster' 'Athena' 'Onassis' 'Gail Hill'
 'Fairbanks' 'Buckeye' 'Emblem' 'Darwin' 'Hickory' 'Inspiration' 'Ventura'
 'Van Dusen' 'Cicero' 'Dudley' 'Quicksilver' 'Avondale' 'Cherry Hill'
 'East Valley' 'Greenwich' 'Prentice' 'John Brown' 'Young Oak' 'Zola'
 'King' 'Linden' 'Willow Creek' 'Justice' 'Ridley' 'Chelsea' 'Fortuna'
 'Boundbrook' 'Summit' 'Pleasant Lake' 'Quincy' 'Danehill' 'Goldeneye'
 'Holden' 'Noble' 'Thompson' 'Middlewood' 'Wildwood' 'Angelea' 'Turnstone'
 'Courtdale' 'Hemingway' 'Flagstaff' 'Caldwell' 'Bauer' 'Marie Curie'
 'Bicknell' 'Chesterfield' 'Mountain' 'Greenfield' 'Shafer' 'Pegasus'
 'Sweetville' 'Mayer' 'Westminster' 'Donohue' 'Madison' 'Winchester'
 'Milton South' 'Acorn' 'Peyton' 'Lever' 'Riva Ridge' 'Nyquist' 'Douglass'
 'Meridian' 'Utopia' 'Olsen' 'Birch' 'Westbridge' 'James' 'Navigation'
 'Pollock' 'Carter ' 'Rolling Knoll' 'Blakeville' 'Glenbrook' 'Einstein'
 'Eastbourne' 'Goldfinch' 'Wintergreen' 'Cornerstone' 'Islander'
 'Castle Rock' 'Floral' 'Velocidad' 'Alvin' 'Irving' 'Weston' 'Sebastian'
 'Hope' 'Touchstone' 'Tucker' 'Cardinal' 'Buffalo Way' 'Tower' 'Applewood'
 'Beebe' 'Lone Pine' 'Pompano' 'Shaheen' 'Nightland' 'Davis']
Categories in first_hs_urbanicity variable:
['Rural: Distant' 'Rural: Fringe' 'Rural: Remote' 'City: Large'
 'Town: Remote' 'Suburb: Small' 'Suburb: Large' 'Town: Distant'
 'Suburb: Mid-size' 'City: Small' 'Town: Fringe' nan]
Categories in race_ethnicity variable:
['Hispanic' 'White' nan 'African-American' 'Multiple/Native American'
 'Asian/Pacific Islander']
Categories in ihe_name_yr1 variable:
['Alpha State University' 'Cardinal University' 'Gerald Ford University'
 'Mountain State University' nan "Saint Martin's College" 'Henry College'
 'Acura College' 'White Hills University' 'Mercedes College'
 'Harrison University' 'Ulysses University' 'Science Park University'
 'Ballard College' 'Hippocrates College' 'OUT OF STATE OTHER'
 'Elizabeth College' 'Shorefield International College' 'Gilias College'
 'Weatherfield State College' 'Theodore College of Liberal Arts'
 'Medfield State College' 'Wright Brothers College' 'Corolla University'
 'Pacifica University' 'CentralCollege' 'Greendale Institute'
 'Andrews University' 'Isaac Newton College' 'Mustang University'
 'Duckley College' 'Dover College' 'Taft University' 'Pan-State College'
 'Rutherford College' 'Empire University' 'Springfield College'
 'Boeing University' 'Columbus College'
 'Harmon School of Arts and Sciences' 'Coolidge University'
 'Willes College' 'Chevrolet University' 'Burkhill College'
 'Thomas College' 'Chester College' 'Olympus University'
 'Hudson Park Arts College' 'John Farber University' 'Polk College'
 'Fields College of the Arts' 'Appleton University' 'Atlas University'
 'Worthington University' 'Goldberg College' 'Buxley College'
 'Abraham College' 'Elliott State College' 'West Sidney College'
 'Grove Hill University' 'Independent College' 'South Hadley College'
 'Quigley College' 'Zenith International College']
Categories in ihe_barrons_rank_2013 variable:
[nan 'Competitive' 'Less Competitive' 'Very Competitive' 'Non Competitive'
 'Highly Competitive' 'Most Competitive']
Categories in ihe_degrees_awarded_predominant variable:
['Predominantly certificate-degree granting'
 "Predominantly bachelor's-degree granting" nan
 "Predominantly associate's-degree granting"]
Categories in ihe_degrees_awarded_highest variable:
['Associate degree' 'Graduate degree' nan "Bachelor's degree"]

In [40]:
import os
from pathlib import Path
import streamlit as st
from typing import Dict
from typing import List
from typing import Text

def get_report_name(path: Path) -> Text:
    """Convert report path to human readable name.

    Args:
        path (Path): Report path.

    Returns:
        Text: human readable name.
    """

    name: Text = path.with_suffix("").name.replace("_", " ").capitalize()

    return name


def get_reports_mapping(period_dir: Text) -> Dict[Text, Path]:
    """Build dictionary where human readable names corresponds to paths.
    Note: each directory gets suffix ` (folder)`.

    Args:
        paths (List[Path]): List of paths.

    Returns:
        Dict[Text, Path]: Dictionary with structure:
        {
            <Name>: <path>
        }

    Examples:
    >>> paths = [
        'reports/2011-02-12_2011-02-18/data_quality',
        'reports/2011-02-12_2011-02-18/model_performance',
        'reports/2011-02-12_2011-02-18/data_drift.html',
        'reports/2011-02-12_2011-02-18/data_quality.html',
        'reports/2011-02-12_2011-02-18/model_performance.html',
        'reports/2011-02-12_2011-02-18/target_drift.html'
    ]
    >>> report_paths_to_names(paths)
    {
        'Data drift': 'Path(reports/2011-02-12_2011-02-18/data_drifts.html)',
        'Data quality(folder)': 'Path(reports/2011-02-12_2011-02-18/data_quality)',
        'Data quality': 'Path(reports/2011-02-12_2011-02-18/data_quality.html)',
        'Model performance (folder)': 'Path(reports/2011-02-12_2011-02-18/model_performance)',
        'Model performance': 'Path(reports/2011-02-12_2011-02-18/model_performance.html)',
        'Target drift': 'Path(reports/2011-02-12_2011-02-18/target_drift.html)'
    }
    """

    names: List[Text] = []
    paths: List[Path] = []
    
    for filename in os.listdir(period_dir):
        if not filename.startswith("."):
            paths.append(Path(f"{period_dir}/{filename}"))
    paths.sort()

    for path in paths:
        name: Text = get_report_name(path)
        if path.is_dir():
            name += " (folder)"
        names.append(name)

    return dict(zip(names, paths))

In [41]:
a = get_reports_mapping('../reports')

In [42]:
a['Data quality report']

PosixPath('../reports/data_quality_report.html')

In [ ]:
def select_report(report_names: List[Text]) -> Text:
    """Select a report name from a selectbox.

    Args:
        report_names (List[Text]): Available report names.

    Raises:
        EntityNotFoundError: If report name list is empty.

    Returns:
        Text: Report name.
    """

    if not report_names:
        raise EntityNotFoundError("🔍 Reports not found")

    selected_report_name: Text = st.sidebar.selectbox(
        label="📈 Select report", options=report_names
    )

    return selected_report_name